:root {
	--font-family: 'Inconsolata', monospace;
	--color-text: black;
	--color-primary: #1abc9c;
	--color-backgroud: #ecf0f1;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	color: var(--color-text);
}

body {
	margin: 0;
	padding: 0;
	background: var(--color-backgroud);
	font-family: var(--font-family);
}

p {
	max-width: 75ch;
}

a {
	text-decoration: none;
	width: fit-content;
}

a:hover,
a:hover * {
	color: var(--color-primary);
}

img {
	max-width: 100%;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.container {
	max-width: 1200px;
	width: 95%;
	margin: 0 auto;
}

.container[data-size='large'] {
	max-width: 1600px;
}

.headline {
	font-size: 3.5vw;
}

/* All barba containers will be position absolute */
[data-barba='container'] {
	height: 100%;
	width: 100%;
	position: absolute;
}

/* Homepaged */
.projects-container {
	padding: 20vh 0;
	text-align: center;
}

.project {
	position: relative;
	z-index: 20;
}

.project-image {
	--size: 20vw;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: -1;
	opacity: 0;
	height: auto;
	width: var(--size);
	transform: translate3d(-50%, -50%, 0) translate3d(var(--x), var(--y), 0);
	transition: opacity 0.1s linear, transform 0.3s ease-out;
}

.project:hover .project-image {
	opacity: 1;
}

/* Project Page */
.project-hero {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.project-hero img {
	height: 60vh;
	width: auto;
	margin-right: 20px;
}
